<!DOCTYPE html>
<html>
<head>
	<% include ../partials/head %>
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBHLett8djBo62dDXj0EjCimF8Rd6E8cxg&libraries=places"	></script>
	<script src="/scripts/tour.js"></script>
</head>
<body>
	<!-- Page Container -->
	<div class="container" id="page">
		<div class="container" id="tour-title">
			<div class="row">
				<div class="col-md-6 tour-photo">
					<img src="<%= tour.imageUrl %>">
				</div>
				<div class="col-md-6 tour-info">
					<h1 class="tour-title-page"><%= tour.name %></h1>
					<h4>City: <%= tour.city %></h4>
					<h4>Author: <%= tour.author %></h4>
					<p><%= tour.description %></p>
				</div>
			</div>
		</div>

		
		<input id="pac-input" class="controls" type="text" placeholder="Enter a location">
    	<div id="map"></div>
    	
	</div>
</body>
</html>
