<!DOCTYPE html>
<html>
<head>
	<% include ../partials/head %>
	<script src="/scripts/tour.js"></script>
</head>
<body>
	<!-- Page Container -->
	<div class="container" id="page">
		<!-- TOUR INFORMATION -->
		<div class="container" id="tour-title">
			<div class="row">
				<div class="col-md-6 tour-photo">
					<img src="<%= tour.imageUrl %>">
				</div>
				<div class="col-md-6 tour-info">
					<h1 class="tour-title-page"><%= tour.name %></h1>
					<h4>City: <%= tour.city %></h4>
					<h4>Author: <%= tour.author %></h4>
					<p><%= tour.description %></p>
				</div>
			</div>
		</div>

	</div>
</body>
</html>
